/* ========== Page Styles ========== */
h1 {
    display: block;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
}

h2 {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 120%;
}

h3 {
    display: block;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
}

h4 {
    display: block;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    line-height: 100%;
}

body, #bodyTable {
    background-color: #FFFFFF;
}

#emailHeader {
    background-color: #FFFFFF;
}

#emailBody {
    background-color: #FFFFFF;
}

#emailFooter {
    background-color: #FFFFFF;
}

a[href^="tel"], a[href^="sms"] {
    text-decoration: none !important;
    color: #606060 !important;
    pointer-events: none !important;
    cursor: default !important;
}
