//- Variables from pages
block variables

doctype html
html(lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        meta(name='format-detection' content='telephone=no')
        meta(name="robots" content="index, follow")

        meta(name="description" content=description)
        meta(name="keywords" content=keywords)
        title #{title}

        style(type="text/css")
            include ../../templates/default/scss/reset.css

        body(style="height: 100%; margin: 0; padding: 0; width: 100%; font-family: Verdana, Geneva, sans-serif;")
            block content