//- Include used template for this page
extends ../../templates/default/template

//- Variables for include this in used template
block variables
    - let description = 'Write the page description here'
    - let keywords    = 'Write the page keywords here'
    - let title       = 'Write the page title here'

block content
    h1 Hello World!